@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background-color: ;
    font-family: 'Montserrat','Arial';
    margin: 0;
}
/* Seleccionar formas */
header{
    color:white;
    background-color: #1D3153;
    width: 100%;
    border-bottom: 2px solid;
    text-align: center;
}
h1{
    margin:0;
}

/*  Menu  */
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

/* ------------  Seleccionar figuras ----------------------------*/ 
.seleccionar-figura{
    display: flex;
    flex-direction: column;
}
.figuras-seleccionables{
    display: flex;
}
.figuras-seleccionables div{
    border: 1px solid black;
    margin-right: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    user-select: none;
}


body{
    background-color:  #F3F3F9;
}
/* ---------------- Contenedor de figuras --------------------------- */ 
.figuras-contenedor{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.figuras{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color:white;
}
/* ----------------- Figuras ----------------------------*/ 
.figura{
    border: solid 2px black;
    position: absolute;
    user-select: none;
    touch-action: none;
    padding: 0.5em;
}
.figura p{
    margin: 0;
    user-select: none;
}
.circulo{
    border-radius: 50%;
}
.rectangulo{
    border-radius: 10px;
}
